@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@using (Html.BeginForm()) {
    <fieldset>
        <legend>Interation</legend>
        
        <div class="editor-label">
            <label>Interation 1</label>
        </div>      
       
        <div class="editor-field">
            <input name="parameter"/>
        </div>        

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>