@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@using (Html.BeginForm()) {
    <fieldset>
        <legend>Interation</legend>
        
        <div class="editor-label">
            <label>Response Iteraction</label>
        </div>
       
        <div class="editor-label">
            <label>Teléfono</label>
        </div>
        <div class="editor-field">
            <input name="telefono"/>
        </div>
        <div class="editor-label">
            <label>Aula</label>
        </div>

        <div class="editor-field">
            <select name="aula_id">
                @foreach (var item in ViewBag.aulas)
                {
                    <option value="@item.Id">@item.Descripcion</option>
                }
            </select>
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>