@{
    ViewBag.Title = "Home";
}


<div id="site_content">
      <div id="sidebar_container">
        <div class="gallery">
          <ul class="images">           
            <li><img width="450" height="450" src="~/Content/images/269239_150839511740239_618940983_n.jpg"/></li>
            

          </ul>
        </div>
      </div>
      <div id="content">            
          <div id="datos-personales">
          <h2>Datos Personales</h2>

          <label>Nombre:</label> 
              <p>Gustavo Araya Salas</p>         
          <br />
      
          <label>Residencia:</label>
          <p>Cuidad Quesada, San Carlos</p>
          <br/>
          <label>Telefono:</label>
          <p>86415183,24604368</p>
          <br/>
          <label>Email:</label>
          <p>tavo.cr23@gmail.com</p>
          <br/>      
          </div>             
          <div id="estudios">
               <h2>Estudios Realizados</h2>
              <label>Titulo:Dipomado en Tecnologias Informaticas</label>

              <br/>

               <label>Titulo:Tecnico en Control Electronico Industrial</label>             
              <br/>
              <label>Titulo:Tecnico en Mantenimiento Industrial</label>  
              <br/>

          </div> 
      </div>
    </div>


