@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


 <div id="request">

    <form>
        
        <div id="information">

    <label for="name">Name:<span class="required">*</span></label>
        <input  type="text" id="name" placeholder="Name request"/>

    <label for="urlBase">Url Base:<span class="required">*</span></label>
        <input  type="url" id="urlBase" placeholder="Url"/>

    <label for="action">Action:<span class="required">*</span></label>
        <input  type="text" id="action" placeholder="Action"/>

    <label for="httpVerb">Http Verb:<span class="required">*</span></label>
        <input list="httpVerb" name="httpVerb">
            <datalist id="httpVerb">
                <option value="GET">
                <option value="PUT">
                <option value="POST">
                <option value="PATH">
                <option value="DELETE">
                </datalist>

            </div>

        <div id="parameters">
            
             <label for="key">Key:<span class="required">*</span></label>
                <input  type="text" id="key"/>

            <label for="key">Value:<span class="required">*</span></label>
                <input  type="text" id="Value"/>


        </div>
    </form>


</div>