@model appRequest.Models.RequestViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            
            @*@Html.DisplayNameFor(model => model.Parameters)*@
        </th>
        <th>
            
            @*@Html.DisplayNameFor(model => model.Requests)*@
        </th>
        <th></th>
    </tr>
    </table>
