@{
    ViewBag.Title = "Index";
}
 <h1 align="center">UNIVERSIDAD TECNICA NACIONAL</h1>
<br />
<h1 align="center">SEDE SAN CARLOS</h1>
<br />
<h1 align="center">CARRERA:</h1>
<br />
<h1 align="center">INGENIERÍA DEL SOFTWARE</h1>
<br />
<h1 align="center">ESTUDIANTES:</h1>
<br />
<h1 align="center">GUSTAVO ARAYA</h1>
<br />
<h1 align="center">MICHAEL JIMÉNEZ HERRERA</h1>